body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.navbar ul { list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar ul li {
    width: 100%;
    text-align: left;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    width: 100%;
}

.navbar ul li a:hover {
    background-color: #f0f0f0;
}

.navbar ul li a i {
    margin-right: 15px;
}

.navbar ul li a span {
    font-size: 16px;
}

.stories {margin-left: 300px;
    display: flex;
    margin-right: 600px;
}

.story {
     margin: auto;
    text-align: center;
}



.story p {
    font-size: 12px;
    margin-top: 5px;
}
.friend{margin-left: 500px;}
.username{margin: auto;}